:root {
    --red-50: #ffede7;
    --red-100: #ffdcd2;
    --red-200: #ffb6a8;
    --red-300: #ff8f7f;
    --red-400: #f0685d;
    --red-500: #d33333;
    --red-600: #a21921;
    --red-700: #7b0716;
    --red-800: #58000c;
    --red-900: #380005;
    --red-950: #290002;
    --orange-50: #fff;
    --orange-100: #fff;
    --orange-200: #ffdfca;
    --orange-300: #ffb994;
    --orange-400: #ff8b55;
    --orange-500: #eb5d12;
    --orange-600: #ba4304;
    --orange-700: #933105;
    --orange-800: #6f2306;
    --orange-900: #4f1605;
    --orange-950: #401105;
    --neutral-50: #f0f0f0;
    --neutral-100: #e4e4e4;
    --neutral-200: #cacaca;
    --neutral-300: #b0b0b0;
    --neutral-400: #949494;
    --neutral-500: #737373;
    --neutral-600: #545454;
    --neutral-700: #3c3c3c;
    --neutral-800: #272727;
    --neutral-900: #151515;
    --neutral-950: #0c0c0c;
    --white-50: #fff;
    --white-100: #fff;
    --white-200: #fff;
    --white-300: #fff;
    --white-400: #fff;
    --white-500: #fff;
    --white-600: #dadada;
    --white-700: #bdbdbd;
    --white-800: #a3a3a3;
    --white-900: #8b8b8b;
    --white-950: #808080;
    --black-50: #484848;
    --black-100: #3d3d3d;
    --black-200: #2a2a2a;
    --black-300: #161616;
    --black-400: #050505;
    --black-500: #000;
    --black-600: #000;
    --black-700: #000;
    --black-800: #000;
    --black-900: #000;
    --black-950: #000;
    --html-50: #fff;
    --html-100: #ffefe4;
    --html-200: #ffcbb5;
    --html-300: #ffa182;
    --html-400: #fa7b58;
    --html-500: #dd4b25;
    --html-600: #ac3215;
    --html-700: #85210e;
    --html-800: #621308;
    --html-900: #420804;
    --html-950: #340503;
    --scss-50: #fff;
    --scss-100: #fff;
    --scss-200: #ffdbf1;
    --scss-300: #ffb3da;
    --scss-400: #f090bf;
    --scss-500: #d2679e;
    --scss-600: #a54d7b;
    --scss-700: #823a5f;
    --scss-800: #622a47;
    --scss-900: #451c31;
    --scss-950: #381627;
    --js-50: #fff;
    --js-100: #fff;
    --js-200: #ffffae;
    --js-300: #fff;
    --js-400: #fff;
    --js-500: #f7e025;
    --js-600: #d2ba1f;
    --js-700: #b59d26;
    --js-800: #99832b;
    --js-900: #7f6c2e;
    --js-950: #72612f;
    --liquidjs-50: #ecffff;
    --liquidjs-100: #d3f4ff;
    --liquidjs-200: #a3ddff;
    --liquidjs-300: #7cc3fa;
    --liquidjs-400: #52a6e7;
    --liquidjs-500: #0e83cd;
    --liquidjs-600: #00619f;
    --liquidjs-700: #00477a;
    --liquidjs-800: #003159;
    --liquidjs-900: #001d3a;
    --liquidjs-950: #00142c;
    --expressjs-50: #fff;
    --expressjs-100: #fff;
    --expressjs-200: #fff;
    --expressjs-300: #fff;
    --expressjs-400: #fff;
    --expressjs-500: #fff;
    --expressjs-600: #dadada;
    --expressjs-700: #bdbdbd;
    --expressjs-800: #a3a3a3;
    --expressjs-900: #8b8b8b;
    --expressjs-950: #808080;
    --nodejs-50: #fff;
    --nodejs-100: #fff;
    --nodejs-200: #d5fdd2;
    --nodejs-300: #b6e4b0;
    --nodejs-400: #95c98b;
    --nodejs-500: #6fa760;
    --nodejs-600: #568246;
    --nodejs-700: #446634;
    --nodejs-800: #334d26;
    --nodejs-900: #253619;
    --nodejs-950: #1e2c13;
    --mongodb-50: #fff;
    --mongodb-100: #d8ffde;
    --mongodb-200: #b6efbc;
    --mongodb-300: #93d698;
    --mongodb-400: #6fbc72;
    --mongodb-500: #439b44;
    --mongodb-600: #2f762c;
    --mongodb-700: #235a1b;
    --mongodb-800: #18400e;
    --mongodb-900: #0f2a05;
    --mongodb-950: #0a2002;

    --title-font: 'DM Mono', monospace;
    --text-font: 'DM Sans', sans-serif;
}

::-webkit-scrollbar {
    width:0;
    height: 0.5rem;
}
::-webkit-scrollbar-thumb {
    background-color: var(--neutral-300);
    border-radius: 0.5rem;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--neutral-50);
    font-family: var(--text-font);
    color: var(--neutral-700);
}

.flex {
    display: flex;
    
}

.relative {
    position: relative;
}

p {
    width: 100%;
    max-width: 75ch;
}

a {
    text-decoration: none;
    color: var(--neutral-700);
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
}

.h1 {
    font-size: 4rem;
}

section {
    min-height: 100dvh;
    width: 100%;
    align-items: center;
    overflow: hidden;
}

.arrow {
    transform: rotate(90deg);
}

.me-img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}


.wrapper {
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;

    .title {

        position: relative;
        gap: 2rem;

        h1 {
            margin: 0;
            font-size: 4rem;
        }

        h2 {
            margin: 0;

        }
    }
}

.badge {

    padding: 0.5rem 1rem;
    border-radius: 2000px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    h3 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 400;
        text-align: center;
    }

    &[data-lang="html"] {
        background-color: var(--html-100);
        color: var(--html-500);
    }

    &[data-lang="scss"] {
        background-color: var(--scss-200);
        color: var(--scss-500);
    }

    &[data-lang="javascript"] {
        background-color: var(--js-500);
        color: var(--neutral-700);
    }

    &[data-lang="liquidjs"] {
        background-color: var(--liquidjs-100);
        color: var(--liquidjs-500);
    }

    &[data-lang="expressjs"] {
        background-color: var(--expressjs-200);
        color: var(--neutral-700);
    }

    &[data-lang="nodejs"] {
        background-color: var(--nodejs-200);
        color: var(--nodejs-500);
    }

    &[data-lang="mongodb"] {
        background-color: var(--mongodb-100);
        color: var(--mongodb-500);
    }
}

.hero {
    flex-direction: column;
    >.wrapper {
        flex-direction: column;
        justify-content: center;
        flex: 1;

        .stack-items {
            gap: 1rem;
            flex-wrap: wrap;
        }
    }

}

.to-summary {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 2rem;
    margin: auto;
    left: 0;
    right: 0;
    font-size: 1.2rem;
    padding: 2rem;
    padding-bottom: 4rem;
}

.whoami {
    h2.h1 {
        margin-bottom: 3rem;
    }
    .whoami-content {
        overflow: hidden;
        width: 100%;
        max-width: 75ch;
    }
    .track {
        display: grid;
        grid-template-columns: repeat(3, 100%);
        gap: 2rem;
        cursor: pointer;
        margin-bottom: 1rem;
        

        > div {
            width: 100%;
            align-content: center;
            height: auto;
            user-select: none;
        }
    }

    .bullets {
        padding-inline: .25rem;
        height: .15rem;
        background-color: var(--neutral-200);
        border-radius: 1rem;
        position: relative;
        width: 100%;
        max-width: 75ch;
        

        .bullet {
            width: calc(100% / 3);
            background-color: var(--neutral-700);
            height: 100%;
            border-radius: 1rem;
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.5s ease-in;
        }
    }
}